/* Estilos gerais da página */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f0f0f0;
    color: #333;
}

#containerChat {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tituloSala {
    text-align: center;
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Estilo da lista de mensagens */
#mensagens {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo do campo de entrada */
#inputContainer {
    display: flex;
    align-items: center;
}

#mensagemInput {
    width: calc(100% - 150px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#arquivoInput {
    display: inline-block;
    margin-right: 10px;
}

/* Estilo do botão de enviar */
#enviarBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 120px; /* Tamanho fixo para o botão */
}

#enviarBtn:hover {
    background-color: #45a049;
}

/* Estilo do botão sair */
#sairBtn {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
}

#sairBtn:hover {
    background-color: #d32f2f;
}

/* Estilo das mensagens de imagem */
.imagem-mensagem {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-left: 10px; /* Imagem à esquerda */
}

/* Estilo para links de arquivos */
a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
