<!DOCTYPE html>
<html>
<head>
    <title>Salas de Chat</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo_inicio.css') }}">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <h1>Bem-vindo, {{ nickname }}</h1>
    <h2>Entrar na Sala de Chat</h2>
    <div>
        <button type="button" onclick="criarSala()">Criar uma Sala</button>
    </div>
    <br><br>
    <form action="/chat" method="get" id="formEntrarSala">
        <div>
            <label>Código da Sala:</label>
            <input type="text" id="codigoSala" placeholder="Código da Sala" name="sala" required autocomplete="off">
            <button type="submit">Entrar na Sala</button>
        </div>
    </form>
    <ul id="mensagens"></ul>
    <script>
        const socket = io();

        socket.on('mensagem', function(data) {
            const item = document.createElement('li');
            item.textContent = data;
            document.getElementById('mensagens').appendChild(item);
        });

        socket.on('sala_criada', function(data) {
            document.getElementById('codigoSala').value = data.nome_sala;
        });

        function criarSala() {
            socket.emit('criar_sala');
        }

        document.getElementById('formEntrarSala').addEventListener('keypress', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                this.submit();
            }
        });
    </script>
</body>
</html>